* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #171616;
  font-family: "Noto Sans", sans-serif;
}

.App {
  background-color: black;
  color: white;
  width: 50%;
  margin: 4em auto;
  padding: 0.5rem;
  box-shadow: 0 2px 12px 3px #000000eb;
}
